In [1]:
# Import libraries
import pandas as pd
import numpy as np
pd.set_option("Display.max_columns", None)
pd.set_option('max_colwidth', 5000)

In [2]:
# To read the csv file
nyc_motor_vehical_crashes = pd.read_csv('./data_100000.csv',
                                        parse_dates=[['crash_date', 'crash_time']],
                                        skipinitialspace=True)
df = nyc_motor_vehical_crashes.copy()

In [3]:
# To see the columns names
df.columns

Index(['crash_date_crash_time', 'borough', 'zip_code', 'latitude', 'longitude',
       'location', 'on_street_name', 'off_street_name', 'cross_street_name',
       'number_of_persons_injured', 'number_of_persons_killed',
       'number_of_pedestrians_injured', 'number_of_pedestrians_killed',
       'number_of_cyclist_injured', 'number_of_cyclist_killed',
       'number_of_motorist_injured', 'number_of_motorist_killed',
       'contributing_factor_vehicle_1', 'contributing_factor_vehicle_2',
       'contributing_factor_vehicle_3', 'contributing_factor_vehicle_4',
       'contributing_factor_vehicle_5', 'collision_id', 'vehicle_type_code1',
       'vehicle_type_code2', 'vehicle_type_code_3', 'vehicle_type_code_4',
       'vehicle_type_code_5'],
      dtype='object')

In [4]:
# create the dictionary with the old and new names
new_names = {'crash_date_crash_time': 'crash_date_time',
             'vehicle_type_code1': 'vehicle_type_code_1',
             'vehicle_type_code2': 'vehicle_type_code_2'}

# Rename the columns
df = df.rename(columns=new_names)

In [5]:
# To print number of rows and columns of data set
df.shape

(100000, 28)

In [6]:
# To print first 50 number of rows of the DataFrame
df.head(30)

,crash_date_time,borough,zip_code,latitude,longitude,location,on_street_name,off_street_name,cross_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,collision_id,vehicle_type_code_1,vehicle_type_code_2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5
0,2017-04-18 23:10:00,STATEN ISLAND,10312.0,40.536728,-74.193344,"(40.536728, -74.193344)",NaN,NaN,243 DARLINGTON AVENUE,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3654181,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
1,2017-05-06 13:00:00,BRONX,10472.0,40.829052,-73.850380,"(40.829052, -73.85038)",CASTLE HILL AVENUE,BLACKROCK AVENUE,NaN,1,0,1,0,0,0,0,0,Failure to Yield Right-of-Way,NaN,NaN,NaN,NaN,3665311,Sedan,NaN,NaN,NaN,NaN
2,2017-04-27 17:15:00,QUEENS,11420.0,40.677303,-73.804565,"(40.677303, -73.804565)",135 STREET,FOCH BOULEVARD,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3658491,Sedan,Sedan,NaN,NaN,NaN
3,2017-05-09 20:10:00,NaN,NaN,40.624958,-74.145775,"(40.624958, -74.145775)",FOREST AVENUE,RICHMOND AVENUE,NaN,1,0,0,0,0,0,1,0,Unspecified,Unspecified,Unspecified,NaN,NaN,3666554,Motorcycle,Sedan,Bus,NaN,NaN
4,2017-04-18 14:00:00,BRONX,10456.0,40.828846,-73.903120,"(40.828846, -73.90312)",NaN,NaN,1167 BOSTON ROAD,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3653269,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
5,2017-05-08 10:33:00,NaN,NaN,40.556454,-74.207770,"(40.556454, -74.20777)",WEST SHORE EXPRESSWAY,NaN,NaN,0,0,0,0,0,0,0,0,Unsafe Lane Changing,Unspecified,NaN,NaN,NaN,3666365,Sedan,Sedan,NaN,NaN,NaN
6,2017-05-10 06:10:00,NaN,NaN,40.740025,-73.976260,"(40.740025, -73.97626)",1 AVENUE,EAST 28 STREET,NaN,0,0,0,0,0,0,0,0,Passing or Lane Usage Improper,Unspecified,NaN,NaN,NaN,3666842,Taxi,Box Truck,NaN,NaN,NaN
7,2017-04-24 09:30:00,BROOKLYN,11203.0,40.651646,-73.932330,"(40.651646, -73.93233)",EAST 48 STREET,CHURCH AVENUE,NaN,0,0,0,0,0,0,0,0,Other Vehicular,Other Vehicular,NaN,NaN,NaN,3657123,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
8,2017-04-14 13:00:00,NaN,NaN,40.751800,-73.817314,"(40.7518, -73.817314)",ROBINSON STREET,NaN,NaN,0,0,0,0,0,0,0,0,Passing Too Closely,Unspecified,NaN,NaN,NaN,3651039,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
9,2017-05-02 01:00:00,BRONX,10474.0,40.816864,-73.882744,"(40.816864, -73.882744)",NaN,NaN,772 EDGEWATER ROAD,0,0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,3661896,Pick-up Truck,NaN,NaN,NaN,NaN
10,2017-05-01 14:30:00,STATEN ISLAND,10301.0,40.639614,-74.087270,"(40.639614, -74.08727)",NaN,NaN,361 JERSEY STREET,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3661330,Station Wagon/Sport Utility Vehicle,PAS,NaN,NaN,NaN
11,2017-04-29 08:45:00,NaN,NaN,40.714230,-73.853860,"(40.71423, -73.85386)",LOUBET STREET,NaN,NaN,0,0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,3659418,Sedan,NaN,NaN,NaN,NaN
12,2017-05-01 10:30:00,BROOKLYN,11223.0,40.602757,-73.963770,"(40.602757, -73.96377)",NaN,NaN,802 AVENUE S,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3661943,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
13,2017-04-16 15:50:00,BROOKLYN,11203.0,40.652973,-73.944010,"(40.652973, -73.94401)",BROOKLYN AVENUE,LINDEN BOULEVARD,NaN,3,0,0,0,0,0,3,0,Unspecified,Unspecified,NaN,NaN,NaN,3654121,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
14,2017-04-25 18:00:00,BROOKLYN,11234.0,40.610740,-73.922410,"(40.61074, -73.92241)",NaN,NaN,2074 EAST 52 STREET,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3673696,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
15,2017-04-22 07:00:00,NaN,NaN,40.691680,-73.999344,"(40.69168, -73.999344)",BROOKLYN QUEENS EXPRESSWAY,NaN,NaN,1,0,0,0,0,0,1,0,Unspecified,NaN,NaN,NaN,NaN,3655451,Pick-up Truck,NaN,NaN,NaN,NaN
16,2017-04-20 18:00:00,BRONX,10463.0,40.886536,-73.899850,"(40.886536, -73.89985)",WEST 240 STREET,BROADWAY,NaN,0,0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,3654545,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
17,2017-05-06 14:10:00,QUEENS,11419.0,40.686234,-73.824180,"(40.686234, -73.82418)",LEFFERTS BOULEVARD,LIBERTY AVENUE,NaN,0,0,0,0,0,0,0,0,Backing Unsafely,Unspecified,NaN,NaN,NaN,3665559,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
18,2017-04-28 22:14:00,NaN,NaN,40.859875,-73.893230,"(40.859875, -73.89323)",WEBSTER AVENUE,NaN,NaN,3,0,0,0,0,0,3,0,Unspecified,Unspecified,NaN,NaN,NaN,3662987,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
19,2017-05-05 16:30:00,BRONX,10453.0,40.848255,-73.909760,"(40.848255, -73.90976)",WALTON AVENUE,EAST 176 STREET,NaN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3663956,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
20,2017-04-19 22:13:00,NaN,NaN,40.835358,-73.940220,"(40.835358, -73.94022)",AMSTERDAM AVENUE,NaN,NaN,1,0,1,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,3654848,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
21,2017-04-27 15:56:00,NaN,NaN,40.727753,-73.858610,"(40.727753, -73.85861)",SAUNDERS STREET,NaN,NaN,0,0,0,0,0,0,0,0,Backing Unsafely,Other Vehicular,NaN,NaN,NaN,3658471,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
22,2017-05-02 22:30:00,QUEENS,11434.0,40.666702,-73.767310,"(40.666702, -73.76731)",NaN,NaN,177-90 SOUTH CONDUIT AVENUE,0,0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Unspecified,NaN,NaN,NaN,3662226,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
23,2017-05-08 23:30:00,BROOKLYN,11207.0,40.663220,-73.893654,"(40.66322, -73.893654)",PENNSYLVANIA AVENUE,RIVERDALE AVENUE,NaN,8,0,0,0,0,0,8,0,Traffic Control Disregarded,Failure to Yield Right-of-Way,Unspecified,Unspecified,NaN,3666278,Ambulance,Station Wagon/Sport Utility Vehicle,Sedan,Station Wagon/Sport Utility Vehicle,NaN
24,2018-02-17 14:30:00,MANHATTAN,10019.0,NaN,NaN,NaN,NaN,NaN,450 W 57th St,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3848714,Sedan,Sedan,NaN,NaN,NaN
25,2019-12-04 15:30:00,STATEN ISLAND,10309.0,NaN,NaN,NaN,NaN,NaN,715 sharrotts rd,0,0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,4263561,Tractor Truck Diesel,NaN,NaN,NaN,NaN
26,2017-09-12 17:59:00,NaN,NaN,NaN,NaN,NaN,PARK ROW,NaN,NaN,0,0,0,0,0,0,0,0,Driver Inexperience,NaN,NaN,NaN,NaN,3749038,Bus,NaN,NaN,NaN,NaN
27,2017-05-07 15:00:00,NaN,NaN,NaN,NaN,NaN,CENTER BOULEVARD,NaN,NaN,0,0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,3668217,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
28,2017-04-15 09:00:00,QUEENS,11422.0,40.659714,-73.739815,"(40.659714, -73.739815)",145 AVENUE,243 STREET,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,Unspecified,NaN,NaN,3651370,Sedan,Sedan,NaN,NaN,NaN
29,2017-05-02 07:36:00,NaN,NaN,40.865070,-73.871850,"(40.86507, -73.87185)",BRONX RIVER PARKWAY,NaN,NaN,2,0,0,0,0,0,2,0,Unsafe Speed,Unspecified,Unspecified,Unspecified,Unspecified,3663264,Sedan,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Sedan

In [7]:
# To change empty string to np.nan values
df.replace(r'^\s*$', np.nan, regex=True)

,crash_date_time,borough,zip_code,latitude,longitude,location,on_street_name,off_street_name,cross_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,collision_id,vehicle_type_code_1,vehicle_type_code_2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5
0,2017-04-18 23:10:00,STATEN ISLAND,10312.0,40.536728,-74.193344,"(40.536728, -74.193344)",NaN,NaN,243 DARLINGTON AVENUE,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3654181,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
1,2017-05-06 13:00:00,BRONX,10472.0,40.829052,-73.850380,"(40.829052, -73.85038)",CASTLE HILL AVENUE,BLACKROCK AVENUE,NaN,1,0,1,0,0,0,0,0,Failure to Yield Right-of-Way,NaN,NaN,NaN,NaN,3665311,Sedan,NaN,NaN,NaN,NaN
2,2017-04-27 17:15:00,QUEENS,11420.0,40.677303,-73.804565,"(40.677303, -73.804565)",135 STREET,FOCH BOULEVARD,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3658491,Sedan,Sedan,NaN,NaN,NaN
3,2017-05-09 20:10:00,NaN,NaN,40.624958,-74.145775,"(40.624958, -74.145775)",FOREST AVENUE,RICHMOND AVENUE,NaN,1,0,0,0,0,0,1,0,Unspecified,Unspecified,Unspecified,NaN,NaN,3666554,Motorcycle,Sedan,Bus,NaN,NaN
4,2017-04-18 14:00:00,BRONX,10456.0,40.828846,-73.903120,"(40.828846, -73.90312)",NaN,NaN,1167 BOSTON ROAD,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3653269,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2019-11-20 15:00:00,BROOKLYN,11210.0,40.618893,-73.946420,"(40.618893, -73.94642)",NaN,NaN,1314 EAST 29 STREET,0,0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,4244961,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
99996,2019-12-01 11:22:00,QUEENS,11367.0,40.723380,-73.814750,"(40.72338, -73.81475)",NaN,NaN,150-62 76 ROAD,0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4250093,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
99997,2019-11-21 21:30:00,BROOKLYN,11249.0,40.710820,-73.968530,"(40.71082, -73.96853)",BROADWAY,KENT AVENUE,NaN,0,0,0,0,0,0,0,0,Passing Too Closely,Unspecified,NaN,NaN,NaN,4245290,Sedan,Box Truck,NaN,NaN,NaN
99998,2019-11-18 17:28:00,BROOKLYN,11234.0,40.631180,-73.928185,"(40.63118, -73.928185)",NaN,NaN,1695 UTICA AVENUE,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,4243646,Sedan,Bus,NaN,NaN,NaN
99999,2019-11-17 20:42:00,MANHATTAN,10017.0,40.750760,-73.968430,"(40.75076, -73.96843)",EAST 45 STREET,1 AVENUE,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,4247517,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN

In [8]:
# Change data type from float64 to int64
df['zip_code'] = (df['zip_code'].fillna(0)
                  .astype('Int64')
                  .where(df['zip_code'].notnull()))

In [9]:
# Drop some columns
df = df.drop(columns=['borough', 'location', 'on_street_name',
                      'cross_street_name', 'off_street_name', 
                      'collision_id'], axis=1)

In [10]:
# To identify duplicate values in our data set
duplicate_rows = df[df.duplicated()]
print("Duplicate Rows except first occurrence based on all columns are :")
# print(duplicate_rows)

Duplicate Rows except first occurrence based on all columns are :

In [11]:
# To drop the duplicate rows
df = df.drop_duplicates()

In [12]:
# To check for any duplicates
df.duplicated().any()

False

In [13]:
# To check how many values are per columns unique with the help of function
def value_count(data):
    for item in range(len(data)):
        print(f"Value counts from column ** {df.columns[item]} ** returns: \n {df[df.columns[item]].value_counts()}\n")

# value_count(df.columns)

In [14]:
# To narrow some factor of contributing factor 
def narrowing_down_factor(factor):
    distraction = ['Driver Inattention/Distraction','Passenger Distraction','Fell Asleep','Outside Car Distraction',
                   'Fatigued/Drowsy','Cell Phone (hand-Held)','Using On Board Navigation Device',
                   'Tinted Windows','Eating or Drinking', 'Other Electronic Device', 'Cell Phone (hands-free)',
                   'Listening/Using Headphones']
    driver_mistake = ['Following Too Closely','Failure to Yield Right-of-Way','Backing Unsafely',
                      'Passing or Lane Usage Improper','Passing Too Closely','Unsafe Lane Changing',
                      'Turning Improperly','Driver Inexperience', 'Failure to Keep Right',
                      'Driverless/Runaway Vehicle', 'Oversized Vehicle']
    illegal_action = ['Unsafe Speed','Alcohol Involvement','Traffic Control Disregarded','Aggressive Driving/Road Rage',
                      'Drugs (illegal)']
    other_involvement =  ['Other Vehicular','Reaction to Uninvolved Vehicle', 'Animals Action',
                          'View Obstructed/Limited','Pedestrian/Bicyclist/Other Pedestrian Error/Confusion',
                          'Glare','Vehicle Vandalism']
    bad_road_infrastructure = ['Pavement Slippery', 'Obstruction/Debris','Pavement Defective',
                               'Other Lighting Defects']
    car_failures = ['Brakes Defective', 'Steering Failure', 'Tire Failure/Inadequate',
                    'Traffic Control Device Improper/Non-Working', 'Lane Marking Improper/Inadequate',
                    'Tow Hitch Defective','Headlights Defective', 'Shoulders Defective/Improper',
                    'Windshield Inadequate']
    medical = ['Lost Consciousness', 'Illnes','Accelerator Defective','Physical Disability','Prescription Medication']
    unspecified = ['Unspecified']
    if factor in unspecified:
        return "unspecified"
    elif factor in medical:
        return "medical"
    elif factor in car_failures:
        return "car_failure"
    elif factor in bad_road_infrastructure:
        return "bad_road_infrastructure"
    elif factor in other_involvement:
        return "other_involvement"
    elif factor in illegal_action:
        return "illegal_action"
    elif factor in driver_mistake:
        return "driver_mistake"
    elif factor in distraction:
        return "distraction"

In [15]:
# To apply fuction on dataset to get combine factors
df['contributing_factor_1'] = df['contributing_factor_vehicle_1'].apply(lambda x: narrowing_down_factor(x))
df['contributing_factor_2'] = df['contributing_factor_vehicle_2'].apply(lambda x: narrowing_down_factor(x))
df['contributing_factor_3'] = df['contributing_factor_vehicle_3'].apply(lambda x: narrowing_down_factor(x))
df['contributing_factor_4'] = df['contributing_factor_vehicle_4'].apply(lambda x: narrowing_down_factor(x))
df['contributing_factor_5'] = df['contributing_factor_vehicle_5'].apply(lambda x: narrowing_down_factor(x))

In [16]:
df.head()

,crash_date_time,zip_code,latitude,longitude,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,vehicle_type_code_1,vehicle_type_code_2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5,contributing_factor_1,contributing_factor_2,contributing_factor_3,contributing_factor_4,contributing_factor_5
0,2017-04-18 23:10:00,10312,40.536728,-74.193344,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN,distraction,unspecified,None,None,None
1,2017-05-06 13:00:00,10472,40.829052,-73.850380,1,0,1,0,0,0,0,0,Failure to Yield Right-of-Way,NaN,NaN,NaN,NaN,Sedan,NaN,NaN,NaN,NaN,driver_mistake,None,None,None,None
2,2017-04-27 17:15:00,11420,40.677303,-73.804565,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,Sedan,Sedan,NaN,NaN,NaN,distraction,unspecified,None,None,None
3,2017-05-09 20:10:00,<NA>,40.624958,-74.145775,1,0,0,0,0,0,1,0,Unspecified,Unspecified,Unspecified,NaN,NaN,Motorcycle,Sedan,Bus,NaN,NaN,unspecified,unspecified,unspecified,None,None
4,2017-04-18 14:00:00,10456,40.828846,-73.903120,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,distraction,unspecified,None,None,None

In [17]:
# To apply one hot encoding
contribute_factor_1 = pd.get_dummies(df.contributing_factor_1, prefix='contributing_factor_1', drop_first="True")
contribute_factor_2 = pd.get_dummies(df.contributing_factor_2, prefix='contributing_factor_2', drop_first="True")
contribute_factor_3 = pd.get_dummies(df.contributing_factor_3, prefix='contributing_factor_3', drop_first="True")
contribute_factor_4 = pd.get_dummies(df.contributing_factor_4, prefix='contributing_factor_4', drop_first="True")
contribute_factor_5 = pd.get_dummies(df.contributing_factor_5, prefix='contributing_factor_5', drop_first="True")

In [18]:
df1 = pd.concat([contribute_factor_1], axis=1)
df2 = pd.concat([contribute_factor_2], axis=1)
df3 = pd.concat([contribute_factor_3], axis=1)
df4 = pd.concat([contribute_factor_4], axis=1)
df5 = pd.concat([contribute_factor_5], axis=1)

In [20]:
result = pd.concat([df, df1, df2, df3, df4, df5], axis=1)

In [22]:
result.head()

,crash_date_time,zip_code,latitude,longitude,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,vehicle_type_code_1,vehicle_type_code_2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5,contributing_factor_1,contributing_factor_2,contributing_factor_3,contributing_factor_4,contributing_factor_5,contributing_factor_1_car_failure,contributing_factor_1_distraction,contributing_factor_1_driver_mistake,contributing_factor_1_illegal_action,contributing_factor_1_medical,contributing_factor_1_other_involvement,contributing_factor_1_unspecified,contributing_factor_2_car_failure,contributing_factor_2_distraction,contributing_factor_2_driver_mistake,contributing_factor_2_illegal_action,contributing_factor_2_medical,contributing_factor_2_other_involvement,contributing_factor_2_unspecified,contributing_factor_3_car_failure,contributing_factor_3_distraction,contributing_factor_3_driver_mistake,contributing_factor_3_illegal_action,contributing_factor_3_other_involvement,contributing_factor_3_unspecified,contributing_factor_4_distraction,contributing_factor_4_driver_mistake,contributing_factor_4_illegal_action,contributing_factor_4_other_involvement,contributing_factor_4_unspecified,contributing_factor_5_distraction,contributing_factor_5_driver_mistake,contributing_factor_5_illegal_action,contributing_factor_5_other_involvement,contributing_factor_5_unspecified
0,2017-04-18 23:10:00,10312,40.536728,-74.193344,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN,distraction,unspecified,None,None,None,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2017-05-06 13:00:00,10472,40.829052,-73.850380,1,0,1,0,0,0,0,0,Failure to Yield Right-of-Way,NaN,NaN,NaN,NaN,Sedan,NaN,NaN,NaN,NaN,driver_mistake,None,None,None,None,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,2017-04-27 17:15:00,11420,40.677303,-73.804565,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,Sedan,Sedan,NaN,NaN,NaN,distraction,unspecified,None,None,None,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2017-05-09 20:10:00,<NA>,40.624958,-74.145775,1,0,0,0,0,0,1,0,Unspecified,Unspecified,Unspecified,NaN,NaN,Motorcycle,Sedan,Bus,NaN,NaN,unspecified,unspecified,unspecified,None,None,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
4,2017-04-18 14:00:00,10456,40.828846,-73.903120,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,distraction,unspecified,None,None,None,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [23]:
# To write data into a csv file
result.to_csv(r'./nyc_crashes.csv', index=False)